table {
  width: 100%;
}

.container {
  height: 600px;
  max-width: 100%;
  overflow: auto;
}

table thead th{
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

th{
  height: 50px;
  border-bottom: 1px solid #000;
}

.cellBorder{
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.rightBorder{
  border-right: 1px solid #000;
}

