<!-- Header with a button to toggle sidenav -->
<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Todo Task List App
</mat-toolbar>

<!-- sidenav -->
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button routerLink="" (click)="sidenav.toggle()" mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <mat-divider></mat-divider>

    <button routerLink="addUser" (click)="sidenav.toggle()" mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Add User</span>
    </button>

    <mat-divider></mat-divider>

    <button routerLink="assignTask" (click)="sidenav.toggle()" mat-button class="menu-button">
      <mat-icon>add</mat-icon>
      <span>Assign Task</span>
    </button>

    <mat-divider></mat-divider>

    <button routerLink="viewTask" (click)="sidenav.toggle()" mat-button class="menu-button">
      <mat-icon>list</mat-icon>
      <span>View Task</span>
    </button>

    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- Router component content -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
